* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary-color: #131921;
    --secondary-color: #fca800;
    --third-color: #232F3E;
    --fourth-color: gray;
    --five-color: #eaeded;
    --white-color: #ffffff;
    --black-color: #000000;
    --primary-font: monospace;
    --secondary-font: 'Times New Roman', Times, serif;

}

body {

    font-family: var(--primary-font);
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--white-color);
    background: var(--five-color);

}

.loader {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid rgba(255, 0, 0, 0.178);
    border-top: 20px solid red;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


/* header */
header {
    width: 100%;
    height: 70px;
    padding: 0 2%;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid var(--white-color);
    padding: 10px;
}

/* site logo */
.site-logo {

    background: url('../img/site-logo.png') no-repeat center center;
    background-size: cover;
    height: 33px;
    width: 112px;
}

/* location */
.location {
    height: 42px;
    width: 250px;
}

.location p {
    margin-left: 20px;
    font-size: 12px;
}

.location div {
    display: flex;
}

.location i {
    margin-right: 5px;
}

.location i,
.location h1 {
    font-size: 20px;

}

/* searc-box */
.search-box {
    display: flex;
    align-items: center;
    width: 50%;
    height: 34px;
    gap: 0;
}

.search-box :where(select, input, i) {
    height: 100%;
    border: none;
}

/* select product type */
.search-box select {
    background: var(--fourth-color);
    font-family: var(--secondary-font);
    color: var(--white-color);
    width: 60px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    margin: 0;
    cursor: pointer;
    width: 50px;
    font-weight: bold;

}

.search-box select option {
    display: inline-block;
    width: 40px;
}

/* search field */
.search-box input {
    width: 100%;

}

/* search icon */
.search-box i {
    display: flex;
    width: 48px;
    color: var(--black-color);
    background: var(--secondary-color);
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    font-size: 25px;
    cursor: pointer;
}

/* country selection */
.select-country {
    height: 22px;
    width: 68px;


}

.select-country select {
    cursor: pointer;
    width: 68px;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    color: var(--white-color);
    border: none;
    outline: none;


}

.select-country option {
    margin-top: 10px;
    background: var(--black-color);
    font-size: 20px;


}



/* acount status */

.account-status {
    width: 165px;
    height: 42px;
    font-size: 12px;
}

.account-status span {
    font-size: 20px;
    font-weight: bold;
}


/* cart section */
.cart {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 79px;
    height: 52px;
    font-size: 30px;

}

.cart span {
    margin: 10px 0 0 5px;
    font-size: 20px;
}

/* sub-header */
.sub-header {
    background: var(--third-color);
    width: 100%;
    height: 40px;
    padding: 0 2%;
    font-size: 18px;



}

/* left side nav */
.sub-header nav {
    width: 1200px;
}

.sub-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;

}

.sub-header li {
    cursor: pointer;

}

.sub-header a {
    color: var(--white-color);
    text-decoration: none;
}

/* right side */
.site-image {
    background: url(../img/sub-header-site-img.png) no-repeat center center / contain;
    width: 240px;
    height: 30px;
    cursor: pointer;
}

/* hero are */
.hero-area {
    background: url(../img/Brodcast\ section.png) no-repeat center center /cover;
    width: 100%;
    height: 582px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

/* hero area all div */
.hero-area div {
    width: 23%;
    height: 313px;
    background: var(--white-color);
    margin-bottom: -50px;
    color: var(--black-color);
    font-size: 8px;
    padding: 10px;
}

/* first dive */
.hero-area .first-div .div-wraper {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.hero-area .first-div .div-wraper div {
    width: 45%;
    height: 100px;
    background: red;
    margin: 0;
}




/* forth div */
.hero-area div:last-child {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

.hero-area .forth-div form {
    width: 100%;
    background: var(--white-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;

}

.hero-area .forth-div form h3 {
    font-size: 17px;
    font-weight: bold;

}

.hero-area .forth-div button {
    background: var(--secondary-color);
    border: none;
    padding: 5px 60px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

/* forth container imag */
.hero-area .forth-div .offer {
    background: url(../img/image\ 11.png) no-repeat center center / contain;
    width: 70%;


}